<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-5">
    <h1 class="font-bold mb-4">글 내용</h1>

    <hr>

    <div class="mt-4 mb-4">
        <div class="badge badge-primary badge-outline" th:text="${article.id}">primary</div>
        <span class="font-bold" th:text="${article.title}"></span>
    </div>
    <div class="mt-4 mb-4" th:text="${article.body}"></div>

    <hr>

    <div class="flex justify-center gap-10 mt-10">
        <a class="btn btn-primary" th:href="|/article/modify/${article.id}|">글 수정</a>
        <a class="btn btn-secondary" onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="|/article/delete/${article.id}|">글 삭제</a>
    </div>
</div>

</html>